.profile__description {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  grid-column: 1 / 3;
}

@media screen and (max-width: 670px) {
  .profile__description {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}
