.content {
  max-width: 880px;
  margin: 0 auto;
  margin-top: 40px;
}

@media screen and (max-width: 900px) {
  .content {
    max-width: 581px;
  }
}

@media screen and (max-width: 600px) {
  .content {
    max-width: 282px;
  }
}

@media screen and (max-width: 425px) {
  .content {
    margin-top: 42px;
  }
}