.card__delete-button {
  width: 18px;
  height: 19px;
  background-image: url(../../../images/trash.svg);
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 20px;
  right: 20px;
}