.popup__button-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

.popup__button-close:hover {
  opacity: .6;
}