.profile__info {
  display: grid;
  grid-template: repeat(2, min-content)/ max-content 1fr;
  row-gap: 7px;
  column-gap: 18px;
  margin-left: 30px;
}

@media screen and (max-width: 670px) {
  .profile__info {
    margin-top: 26px;
    margin-bottom: 33px;
    margin-left: 0;
  }
}

@media screen and (max-width: 425px) {
  .profile__info {
    width: 100%;
    column-gap: 10px;
  }
}