.profile__description {
  max-width: 318px;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  grid-column: 1 / 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
